@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  /* box-sizing: content-box; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.block{
  background-color: #1e1e1e;
  width: 700px;
  /* padding: 50px; */
  margin:auto;
  margin-top: 100px;
  position: relative;
}

.element{
  width: 400px;
  height: 500px;
  background-color: tomato;
}

.element2{
  background-color: red;
}
.element3{
  background-color: green;
}
.element4{
  background-color: blue;
}
.element5{
  background-color: magenta;
}

/* Css positions */
.element1{
  /* position: static; */
  left: 100px;
  margin-left: 20px;
  /* top: ;
  right: ;
  bottom: ; */
}

.element2{
  position: relative;
  /* top: 50px;
  left: 50px; */
  right: 50px;
  bottom: 100px;
}

.element3{
  position: absolute;
  /* top: 20px;
  left: 50px; */

  right: 40px;
  bottom: 50px;
}

.element4{
  position: fixed;
  top: 10px;
  left: 20px;
}