@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-black: #0c0c0c;
  --color-grey: #e7e7e7;
  --color-white: #ffffff;
  --color-yellow: #fcd900;
}

/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Font */
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--color-black);
}

html {
  font-size: calc(10px+1vmin);
}

body {
  /* background-color: black; */
}

a {
  display: inline-block;
}

span {
  display: inline-block;
}

.center {
  max-width: 1080px;
  margin: 0 auto;
}

.vertical__space {
  padding: 2rem 0;
}

/* Navigation header goes here */

nav {
  background-color: var(--color-white);
}

nav > div.navigation_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  padding: 0.6rem 0;
}

div.contact {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

div.contact > i {
  font-size: x-large;
}

nav > div.navigation_header > div.social_icons > *:not(:first-child) {
  margin-left: 1rem;
}

nav > div.navigation_header > div.contact > div.details > p:last-child {
  font-weight: bolder;
}

nav > div.primary_navigation {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 3rem; */
  /* gap: 1.5rem; */
}

nav > div.primary_navigation > a {
  padding: 0.7rem 1.5rem;
  transition: background-color 0.2s linear;
}

nav > div.primary_navigation > a:hover {
  background-color: var(--color-yellow);
}

/* a:nth-child(){
    background-color: red;
} */

/* a:last-child{
    background-color: blue;
    } */

nav > div.primary_navigation > a:first-child {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  perspective: 500px;
}

nav > div.primary_navigation > a:first-child > i {
  transition: transform 0.2s linear;
}

nav > div.primary_navigation > a:first-child:hover > i {
  transform: rotateX(180deg);
}

nav > div.primary_navigation > a:first-child {
  position: relative;
}

nav > div.primary_navigation > a:first-child > div.dropdown {
  background-color: var(--color-white);
  position: absolute;
  left: 0;
  top: 100%;
  /* height: 15rem; */
  width: 20rem;
  display: none;
}

nav > div.primary_navigation > a:first-child:hover > div.dropdown {
  display: block;
}

nav > div.primary_navigation > a:first-child > div.dropdown > * {
  width: 100%;
  padding: 0.7rem 1.5rem;
  border-bottom: 1px solid var(--color-black);
}

nav > div.primary_navigation > a:first-child > div.dropdown > *:hover {
  background-color: var(--color-yellow);
}

/* Header goes here */

header {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(to bottom left, #00000012, #0000000d),
    url("./assets/images/header_bg.png");
  /* background-image: url("./assets/images/header_bg.png"); */
  background-size: cover;
  background-position: center;
  position: relative;
  /* display: flex;
  align-items: center; */
}

header > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* align-self: center; */
}

header > div > h2 {
  font-weight: 500;
  line-height: 1.8rem;
}

header > div > div.cta_buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header > div > div.cta_buttons > a {
  background-color: var(--color-yellow);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Who we are */

section div.section_container {
  display: flex;
  gap: 4rem;
}

section div.section_container > h3 {
  text-transform: capitalize;
}

section div.section_container > div.about_us {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

section div.section_container > div.about_us > div.about_cta > a:first-child {
  background-color: var(--color-yellow);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  display: inline-flex;
  align-items: center;
  gap: 2rem;
}
section div.section_container > div.about_us > div.about_cta > a:last-child {
  text-decoration: underline;
  margin-left: 1rem;
}

section div.section_container > div.testimonials {
  flex-shrink: 0;
  flex-grow: 1;
}

section div.center h3 {
  color: var(--color-grey);
}

section div.section_container > div.testimonials > .review {
  display: flex;
  gap: 1.2rem;
}

section div.section_container > div.testimonials > *:not(:last-child) {
  margin-bottom: 3rem;
}

section.what_we_do {
  background: linear-gradient(to top, #00000043, transparent), url("./assets/images/what_we_do_bg.png");
  padding-bottom: 0;
}

section.what_we_do > div.center div.services_wrapper {
 display: flex;
 gap: 1.5rem;
}

section.what_we_do > div.center div.services_wrapper > div.service_card{
  padding: 1rem;
text-align: center;
}

div.service_card:first-child{
  background-color: var(--color-white);

}