* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button-style {
  padding: 20px 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color:  purple;
  cursor: pointer;
  font-size: larger;
}
