* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: #292929;
}

button {
  padding: 20px 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: azure;
  cursor: pointer;
  font-size: larger;
}

span#picker {
  padding: 1rem 2rem;
  font-size: large;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px black;
  background-color: azure;
  cursor: pointer;
}
